
# SERVER CONFIGURATION

PORT=4000

# FTP Config

FTP_HOST=''
FTP_PORT=21
FTP_USER=''
FTP_PASSWORD=''


# Directory Path
OUTBOUND_DIR=''
INBOUND_DIR=''
LOCAL_STORAGE_DIR=''
CRA_PUB_CERT_PATH=''
CRA_PRIVATE_KEY_PATH= ''